<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/common :: common_head('ログイン画面', null)">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <span class="navbar-brand">TODOリスト</span>
    </nav>
    
    <div class="container">
        <div class="row my-2">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <h1></h1>
            </div>
            <div class="col-sm-3"></div>
        </div>
        
        <div class="row my-2">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="alert alert-danger alert-dismissible fade show"
                     th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null">
                    <p th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-danger"></p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
<!--                <div class="alert alert-danger alert-dismissible fade show"-->
<!--                     th:if="${session.error_message != null}">-->
<!--                    <p th:text="${session.error_message}" class="text-danger"></p>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--                </div>-->
            </div>
            <div class="col-sm-3"></div>
        </div>
        
        <div class="row my-2">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form th:action="@{/login}" method="post" th:object="${loginForm}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <div class="form-group mb-3">
                        <label for="user" th:text="#{login.user}"></label>
                        <input type="text" id="user" th:field="*{user}" class="form-control" placeholder="ユーザー名">
                    </div>
                    <div class="form-group mb-3">
                        <label for="pass" th:text="#{pass}"></label>
                        <input type="password" id="pass" th:field="*{pass}" class="form-control" placeholder="パスワード">
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{login.btn}"></button>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</body>
</html>