/* ボタンを横並びにする */
form {
    display: inline-block;
}

/* 打消し線を入れる */
tr.del>td {
    text-decoration: line-through;
}

/* ボタンのセルは打消し線を入れない */
tr.del>td.button {
    text-decoration: none;
}

/* ナビゲーションバーの高さを設定 */
.navbar {
    min-height: 56px; /* またはお好みの高さ */
    display: flex;
    align-items: center;
}

/* ナビゲーションバー内の検索フォームのスタイル調整 */
.navbar .d-flex {
    align-items: center;
}

/* 検索フォームの高さ調整 */
.form-control {
    height: calc(1.5em + .75rem + 2px); /* Bootstrapのデフォルトの高さに合わせる */
    width: 20%; /* 幅を1/3に設定 */
}

/* ボタンのスタイル調整 */
.btn-secondary {
    height: calc(1.5em + .75rem + 2px); /* ボタンの高さをフォームと一致させる */
    min-width: 70px; /* 最小幅を設定 */
    padding: 0.375rem 0.75rem; /* 上下のパディングと左右のパディングを調整 */
    font-size: 1rem; /* フォントサイズを設定 */
    background-color: #6c757d; /* ボタンの背景色 */
    border-color: #6c757d; /* ボタンの枠線の色 */
}

.btn-secondary:hover {
    background-color: #5a6268; /* ホバー時の背景色 */
    border-color: #545b62; /* ホバー時の枠線の色 */
}
