<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="todolist.repository.ItemMapper">

	<!-- 作業一覧取得 -->
	<select id="getAllItems" resultType="Item">
		select
			*
		from
			todo_items
	</select>
	
	<!-- 作業登録 -->
	<insert id="entryItem">
		insert into todo_items (
			user_id,
			item_name,
			registration_date,
			expire_date,
			finished_date,
			is_deleted
		)
		VALUES (
			#{userId},
			#{itemName},
			#{registrationDate},
			#{expireDate},
			CURDATE(),
			0
		)
	</insert>

</mapper>