<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/common :: common_head('削除確認', null)}">
</head>

<body>
    <nav th:insert="~{layout/common :: common_nav}"></nav>
    
    <!-- コンテナ -->
    <div class="container">
        <div class="row my-2">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 alert alert-info text-center">
                下記の項目を削除します。よろしいですか？
            </div>
            <div class="col-sm-3"></div>
        </div>
        
        <!-- 入力フォーム -->
        <div class="row my-2">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form th:action="@{/todo/delete/{id}(id=${tododeleteForm.id})}" method="post" th:object="${tododeleteForm}">
                    <input type="hidden" th:field="*{id}" />
                    <div class="mb-3">
                        <label for="itemName" th:text="#{itemName}"></label>
                        <input type="text" class="form-control" th:field="*{itemName}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="userId" th:text="#{todo.user}"></label>
                        <input type="text" class="form-control" th:value="${tododeleteForm.user.familyName} + ' ' + ${tododeleteForm.user.firstName}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="expireDate" th:text="#{expireDate}"></label>
                        <input type="date" class="form-control" th:field="*{expireDate}" disabled>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" id="checkboxIsFinished" class="form-check-input" name="isFinished" th:checked="${tododeleteForm.isFinished}" disabled/>
                        <label for="checkboxIsFinished" th:text="#{isFinished}"></label>
                    </div>
                    <button type="submit" class="btn btn-danger">削除</button>
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/todo';">キャンセル</button>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <!-- 入力フォーム ここまで -->
    </div>
    <!-- コンテナ ここまで -->
</body>
</html>
