<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/common :: common_head('削除確認', '/css/todo/delete.css')}">
</head>

<body>
    <nav th:insert="~{layout/common :: common_nav}"></nav>
    
    <!-- コンテナ -->
    <div class="container">
        <div class="row my-2">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 alert alert-info text-center">
                下記の項目を削除します。よろしいですか？
            </div>
            <div class="col-sm-3"></div>
        </div>
        
        <!-- 入力フォーム -->
        <div class="row my-2">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form th:action="@{/todo/delete/{id}(id=${item.id})}" method="post">
                    <input type="hidden" name="id" th:value="${item.id}" />
                    <div class="mb-3 label-span-container">
                        <label for="itemName" th:text="#{itemName}"></label>
                        <span th:text="${item.itemName}"></span>
                    </div>
                    <div class="mb-3 label-span-container">
                        <label for="userId" th:text="#{todo.user}"></label>
                        <span th:text="${item.user.familyName} + ' ' + ${item.user.firstName}"></span>
                    </div>
                    <div class="mb-3 label-span-container">
                        <label for="expireDate" th:text="#{expireDate}"></label>
                        <span th:text="${#dates.format(item.expireDate, 'yyyy/MM/dd')}"></span>
                    </div>
                    <div class="mb-3 label-span-container">
                        <label for="status" th:text="#{status}"></label>
                        <span th:text="${item.isFinished ? '完了' : '未完'}"></span>
                    </div>
                    <button type="submit" class="btn btn-danger">削除</button>
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/todo';">キャンセル</button>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <!-- 入力フォーム ここまで -->
    </div>
    <!-- コンテナ ここまで -->
</body>
</html>
