<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- head共通レイアウト -->
<head th:replace="layout/common :: common_head('作業登録', null)">
</head>
<body>
    <!-- ナビゲーションバー共通レイアウト -->
    <nav th:insert="~{layout/common :: common_nav}"></nav>
    
    <!-- コンテナ -->
    <div class="container">
        <div class="row my-2">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 alert alert-info text-center">
                作業を登録してください
            </div>
            <div class="col-sm-3"></div>
        </div>
        <!-- 入力フォーム -->
        <div class="row my-2">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form th:action="@{/todo/entry}" method="post" th:object="${todoListForm}">
                    <div class="form-group mb-3">
                        <label for="itemName" th:text="#{itemName}"></label>
                        <input type="text" class="form-control" id="itemName" th:field="*{itemName}">
                        <div th:if="${#fields.hasErrors('itemName')}" class="text-danger" th:errors="*{itemName}"></div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="userId" th:text="#{todo.user}"></label>
                        <select class="form-select" id="userId" th:field="*{userId}">
                            <option th:value="${null}">--選択してください--</option>
                            <option th:each="item : ${userList}" th:value="${item.id}"
                                    th:text="${item.familyName + ' ' + item.firstName}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('userId')}" class="text-danger" th:errors="*{userId}"></div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="expireDate" th:text="#{expireDate}"></label>
                        <input type="date" class="form-control" id="expireDate" th:field="*{expireDate}">
                        <div th:if="${#fields.hasErrors('expireDate')}" class="text-danger" th:errors="*{expireDate}"></div>
                    </div>
                    <div class="form-group mb-3">
                        <input type="checkbox" class="form-check-input" id="isFinished" th:field="*{isFinished}">
                        <label for="isFinished" th:text="#{isFinished}"></label>
                    </div>
                    <input type="submit" value="登録" class="btn btn-primary">
                    <input type="button" value="キャンセル" class="btn btn-outline-primary" onclick="location.href='/todo';">
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <!-- 入力フォーム ここまで -->
    </div>
    <!-- コンテナ ここまで -->
</body>
</html>